@media (max-width: 767px)
    .header
        justify-content: space-around
    .promo
        padding: 20px 10px 60px 0
        &__header
            font-size: 30px
            line-height: 30px
        &__subheader
            font-size: 20px
        &__icons
            width: 327px
            justify-content: space-around
        &__icon
            width: 108px
        &__link
            font-size: 14px
    
@media (max-width: 575px)
    .header
        &__logo
            img
                width: 90%
        &__official
            display: none            
        &__phone
            font-size: 17px
    .promo
        padding: 21px 10px 20px 0
        &__header
            font-size: 22px
            line-height: 20px 
        &__subheader
            font-size: 15px  
            line-height: 13px  
            margin-top: 10px 
        &__icon            
            font-size: 12px

    